.single-people span.read-more a {
	margin-top: 0;
	float: none;
	padding-top: .3em;
}

.people-search-form {
	margin-bottom: 20px;
	padding: 10px;
	background: #edece4;
	border-top: 1px solid #d5d1bf;
	border-bottom: 1px solid #d5d1bf;
	position: relative;
}

.people-search-form .people-searchform {
	top: 8px;
}

.people-search-form label h4 {
	margin-bottom: 5px;
}

.people-listing-ul {
	border-top: double #d5d1bf;	
}

.people-listing-ul,
.people-listing-item {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.people-listing-item {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	overflow: hidden;
	display: block;
	background: #EAE6D2;
	background: rgba(217, 208, 173, .30);
	border-bottom: 1px solid #fafaf6;
}


.people-listing-item:nth-child(even) {
	background: #EAE6D2;
	background: rgba(217, 208, 173, .10);
}

.people-container {
	overflow: hidden;
	display: block;	
	text-decoration: none;
	padding: 10px;
	border-bottom: 1px solid #d5d1c3;		
}


.people-listing-item:hover,
a.people-listing-link:hover {
	background: #f1efce;
	border-bottom: 1px solid #9f9490;		
}

.people-image {
	float: left;
	margin-right: 10px;
}

.people-name {
	font: 90% "minion-pro-1","minion-pro-2", 'Cambria', 'Georgia', 'Times New Roman', serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}

.people-phone,
.people-email,
.people-title {
	font-size: 14px !important;
	color: #433C3A;	
}

.people-title {
	font-weight: bold;	
}

.people-head {
	width: 45%;
	float: left;
}

.people-contact-details {
	font-size: 14px;
	color: #433C3A;
	float: left
	width: 30%;
	padding-left: 20px;	
}

.people-contact-details p{
	margin: 7px 0;
}

#content .peopletable ul {
	margin: 0;
	list-style: none;
}

#content .peopletable ul ul {
	margin: 0 0 0 2em;
	list-style: circle;
}

.county-people-list .people-contact-details {
	width: 45%;
}

.people-single-image {
	float: left;	
	width: 40%;
}

.people-person-details {
	float: left;
	margin-left: 20px;
	width: 55%;
}

#content .people-person-details .name {
	font-size: 2em;
}

#content .people-person-details dt {
	margin: 1em 0 0 0;
}

#content .people-person-details dd {
	margin: 0;
	padding: 2px 0;
}

.people-content-header {
	margin: 1.5em 0 .2em 0;
}

.people-content-text p {
	margin-top: .2em;
}

.people-content-text, .people-content-image, .people-content-gallery {
	margin-bottom: 1.5em;
}

img.attachment-people_single {
	float: left;
}

.type-people section {
	width: 100%;
	float: left;
}

.widget_featured_person .featured-person-image, .widget_featured_person .featured-person-info {
	text-align: center;
}

.widget_featured_person .featured-person-name {
	font-size: 1.6em;
	margin-bottom: .2em;
}

.widget_featured_person .featured-person-title {
	margin-top: 0;
}